<h1>Pirmeflex Day 2</h1>
<div class="container p-grid">
  <div class="pb p-col-4 border-column">
    <div
      class="p-grid p-justify-end p-align-center p-dir-col"
      style="height: 100%"
    >
      <div class="p-col-11 border-column mt-10" style="height: 80px"></div>
      <div class="p-col-11 border-column mt-10" style="height: 80px"></div>
      <div class="p-col-11 border-column mt-10" style="height: 80px"></div>
      <div class="p-col-11 border-column mt-10" style="height: 80px"></div>
    </div>
  </div>
  <div class="pb p-col-8">
    <div class="pb p-grid">
      <div
        class="container-column p-col-12 border-column p-grid p-justify-center"
        style="margin-top: auto"
      >
        <div class="p-col-1 p-col-align-center">
          <div class="box border-column"></div>
        </div>
        <div class="p-col-1 p-offset-1 p-col-align-center">
          <div class="box border-column"></div>
        </div>
        <div class="p-col-1 p-offset-1 p-col-align-center">
          <div class="box border-column"></div>
        </div>
        <div class="p-col-1 p-offset-1 p-col-align-center">
          <div class="box border-column"></div>
        </div>
      </div>
      <div class="p-col-12 border-column mt-10 container-column"></div>
      <div
        class="pb p-col-6 border-column mt-10 container-column"
        style="align-self: flex-end"
      ></div>
    </div>
  </div>
</div>
