nav {
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  display: block;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  background-color: #008080;
  text-decoration: none;
}
nav ul li a:active,
nav ul li a:focus {
  outline: none;
  text-decoration: none;
  color: #fff;
}
a{
text-decoration: none;
}

a:visited { 
  text-decoration: none; 
  color: orange; 
 }
