<h1>Pirmeflex Day 1</h1>
<div class="container p-grid">
  <div class="pb p-col-4 border-column"></div>
  <div class="pb p-col-8">
    <div class="pb p-grid">
      <div class="container-column p-col-12 border-column"></div>
      <div class="p-col-12 border-column mt-10 container-column"></div>
      <div
        class="pb p-col-6 border-column mt-10 container-column"
        style="align-self: flex-end"
      ></div>
    </div>
  </div>
</div>

<!-- 
<div class="p-grid">
  <div class="p-col-4">4</div>
  <div class="p-col">1</div>
  <div class="p-col">1</div>
  <div class="p-col">1</div>
  <div class="p-col">1</div>
  <div class="p-col">1</div>
  <div class="p-col">1</div>
  <div class="p-col">1</div>
  <div class="p-col">1</div>
</div>

<div class="p-grid">
  <div class="p-col-2">2</div>
  <div class="p-col-6">6</div>
  <div class="p-col-4">4</div>
</div>

<div class="p-grid">
  <div class="p-col-6">6</div>
  <div class="p-col-6">6</div>
  <div class="p-col-6">6</div>
  <div class="p-col-6">6</div>
</div>

<div class="p-grid">
  <div class="p-col-fixed" style="width: 100px">Fixed</div>
  <div class="p-col">Auto</div>
</div>

<div class="p-grid p-justify-between" style="margin-top: 20px">
  <div class="p-col-2">2</div>
  <div class="p-col-1">1</div>
  <div class="p-col-4">4</div>
</div>

<div class="p-grid p-align-center" style="margin-top: 20px">
  <div class="p-col">4</div>
  <div class="p-col">4</div>
  <div class="p-col">4</div>
</div>

<div class="p-grid">
  <div class="p-col p-col-align-start">
    <div class="box">4</div>
  </div>
  <div class="p-col p-col-align-center">
    <div class="box">4</div>
  </div>
  <div class="p-col p-col-align-end">
    <div class="box">4</div>
  </div>
</div>

<div class="p-grid" style="margin-top: 50px">
  <div class="p-col-6 p-offset-3">6</div>
</div>

<div class="p-grid">
  <div class="p-col-4">4</div>
  <div class="p-col-4 p-offset-4">4</div>
</div>

<div class="p-grid" style="margin-top: 50px">
  <div class="p-col-8">
    <div class="p-grid">
      <div class="p-col-6">6</div>
      <div class="p-col-6">6</div>
      <div class="p-col-12">12</div>
    </div>
  </div>
  <div class="p-col-4">4</div>
</div> -->
